@using AG.LoggerViewer.UI.Application.Common
@using AG.LoggerViewer.UI.Application.Common.Extensions
@using AG.LoggerViewer.UI.Application.Common.Models
@using AG.LoggerViewer.UI.Application.Services
@inject ILoggerReadService LoggerReadService;

<div class="p-2" style="background-color: @GetBackGroundColor(JsonLoggerModel.Level)">
    <small>
        @JsonLoggerModel.Timestamp
        <br>
        Level:- @JsonLoggerModel.Level
        <br>
        Properties :-
        <span style="white-space: pre-wrap">
            @JsonLoggerModel.Properties.ToJson()
        </span>
        @if (!string.IsNullOrWhiteSpace(JsonLoggerModel.Exception))
        {
            <div>
                Exception :-
                <span style="white-space: pre-wrap">
                    @JsonLoggerModel.Exception.ToJson()
                </span>
            </div>
        }
    </small>


</div>

<hr>


@code {

    [Parameter]
    public JsonLoggerModel JsonLoggerModel { get; set; }

    public string GetBackGroundColor(string errorType)
    {
        return errorType switch
        {
            AgLoggerConst.Error => "#FFEBEE",
            AgLoggerConst.Warning => "#FFFDE7",
            AgLoggerConst.Information => "#E1F5FE",
            _ => ""
            };
    }

}